#form{
    background-color: greenyellow;
}
#titulo {
    background-color: forestgreen;
}
#tabla {
    background-color: black;
}
#dias {
    background-color: lawngreen;
}
#jueves {
    width: 230px;
}
#trabajo {
    background-color: crimson;
}
#volver {
    background-color: crimson;
}
#curso {
    background-color: crimson;
}
#estudio {
    background-color: crimson;
}
#tiempo {
    background-color: crimson;
}
#dormir {
    background-color: crimson;
}
#CasillaBlanca {
    background-color: khaki;
}
#ul {
    list-style: none;
}
#intereses {
    text-decoration: underline;
    text-decoration-color: rgb(230, 14, 14);
    text-decoration-thickness: 2.5px;
}
#regist {
    background-color: yellow;
}